name: Todo tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7.37
        env:
          MYSQL_ROOT_PASSWORD: 'yourpassword'
          MYSQL_DATABASE: 'my_apijson'
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18



      - name: Test
        run: |
          
          mysql -uroot -h 127.0.0.1 --port 3306 -pyourpassword my_apijson < demo/todo/doc/todo.sql
          
          cd ./demo/todo
          mv config.yaml.example config.yaml
          
          cd tests
          go test -v